pandas
fuzzywuzzy
google-cloud-storage
google-cloud-bigquery
pyarrow
google-auth
gspread
matplotlib
streamlit>=1.20.0
streamlit-aggrid==0.3.4
extra_streamlit_components
matplotlib
scikit-learn
xgboost
shap
pytrends
db-dtypes
